.ImgBanner {

    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    margin-bottom: 10px;
    background-color: var(--web-wash);
}


.ImgBanner__imgContainer {
    max-width: 1250px;
    width: 100%;

}