:root {
  --category-icon-background: #e4e6eb;
  --category-hover: #f2f2f2;
}

.Category {
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
  margin-left: 6px;
}
.Category:hover {
  cursor: pointer;
  background: var(--category-hover);
}
.Category__Icon {
  background: var(--category-icon-background);
  padding: 5px;
  border-radius: 100px;
  width: 21.6px;
  height: 21.6px;
  margin-top: 10px;
}
.Category__Text {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
}
