.HeaderLinks {
    width: 100%;
    height: inherit;
    max-width: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    gap: 6px;
}
.HeaderLinks__Item {
    position: relative;
    list-style: none;
    width: 15.6%;
    min-width: 40px;
    max-width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
.HeaderLinks__ItemLink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    z-index: 100;
}
.HeaderLinks__ItemIcon {
    width: 24px;
    height: 24px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;

    filter: invert(40%) sepia(4%) saturate(471%) hue-rotate(182deg) brightness(95%) contrast(82%);
}
.HeaderLinks__Item:hover {
    border-radius: 7px;
    background-color: rgb(231, 231, 231);
}
.HeaderLinks__ItemSelected .HeaderLinks__ItemLink {
    box-shadow: 0 4px 0 0 #1877f2;
}
.HeaderLinks__ItemSelected:hover {
    border-radius: 0;
    background-color: transparent;
}
.HeaderLinks__ItemSelected .HeaderLinks__ItemIcon {
    filter: invert(35%) sepia(76%) saturate(2469%) hue-rotate(202deg) brightness(95%) contrast(101%);
}
@media screen and (max-width: 480px) {
    .HeaderLinks {
        display: none;
    }
}