.NavbarLeft {
    width: auto;
    max-width: 320px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.NavbarLeft__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.NavbarLeft__logo-icon {
    width: 40px;
    height: 40px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    z-index: 50;
}

.NavbarLeft__logo-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.SearchBox {
    z-index: 150;
    width: auto;
    height: 40px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    transition: .2s;
}

.SearchBox__input {
    width: 240px;
    height: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 15px;
    background-color: transparent;
    z-index: 200;
}

.SearchBox__icon {
    width: 16px;
    height: 16px;

    position: absolute;
    left: 16px;
    filter: invert(37%) sepia(0%) saturate(1445%) hue-rotate(161deg) brightness(100%) contrast(76%);
    cursor: pointer;
    z-index: 175;
}

@media screen and (max-width: 768px) {
    .SearchBox {
        width: 40px;
        height: 40px;
    }

    .SearchBox__input {
        transition: .2s;
        position: absolute;
        left: 10%;
        padding-left: 20px;
    }

    .SearchBox__input::placeholder {
        color: transparent;
    }

    .SearchBox__input:focus::placeholder {
        color: #222;
    }

    .SearchBox__icon {
        left: 12px;
    }

    .SearchBox:hover,
    .SearchBox:hover .SearchBox__input,
    .SearchBox:focus-within {
        width: 240px;
        color: #222;
        padding-left: 20px;
    }

    .SearchBox__input:not(:focus) {
        color: transparent;
    }
}
