.SubTitle{
    color: #444343;
    font-weight: 600;
    font-size: .9em;
    font-family:Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif ;
    margin-top: .5em;
}

.ImgTitle{
    width: 1em;
    height: 1em;
}

