.Icon__Container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 28px;
    height:  40px;
    width: 40px;
    border: none;
    border-radius: 100px;
    background-color: #dfd8d8;
    cursor: pointer;
    
    
}

.Icon__Container:hover{
    background-color: #f3ecec;
}
.Icon{
    
    max-width: 100%;
    max-height: 100%;
}