.PublicateBox {

    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
}

.PublicateBox__Nickname {
    width:100%;
}

.PublicateBox__Options {
    width: 100%;
}
.ImgPublicate__Img{
    max-width: 500px;
    min-width: 20px;
    width: 100%;
}