.PublicateZone {
box-sizing: border-box;
display: flex;
gap: 20px;
align-items: center;
width: fit-content;
height: fit-content;
margin: auto;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 40px;
width: 580px;
}

.PublicateZone__Div_PublicZone {
    width: 580px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    height: fit-content;
    border-radius:10px ;
}
