.HeaderOpUsuario {
  display: flex;
  gap: 20px;
}
.HeaderOpUsuario__ButtonColumnRight {
  height: 2.7em;
  width: 2.7em;
  border-radius: 70%;
  background-color: rgb(243, 235, 235);
  border: none;
}
.HeaderOpUsuario__ButtonColumnRight:hover {
  background-color: rgb(218, 213, 213);
}

.HeaderOpUsuario__Img {
  width: 1.5em;
  height: 2.7em;
}
