body{
  background-color: #EEEEEE;
  margin: 0;
}
.HomeTemplate{
  display: flex;
}


.HomeTemplate__ParteCentral{
  width: 100%;
  display: flex;
  justify-content: center;
  gap:  61px;
  height: 100%;
}
