:root {
  --logo-background: #e4e6eb;
  --publication-background: #ebf5ff;
  --publication-link: #0064d1;
  --category-hover: #f2f2f2;
}

.Box {
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
}
.Box:hover {
  cursor: pointer;
  background: var(--category-hover);
}
.Box__Logo {
  background: var(--logo-background);
  padding: 5px;
  border-radius: 100px;
  width: 21.6px;
  height: 21.6px;
  margin-left: 6px;
  margin-top: 10px;
}
.Box__Text {
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
}
.Publication {
  background: var(--publication-background);
  margin-top: 10px;
  width: 300px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.Publication__Link {
  color: var(--publication-link);
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}
