.OpDeUsuario {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.OpDeUsuario__SubTitle {
  font-weight: 600;
  font-size: 0.9em;
  font-family:
    UI Historic,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
}

.OpDeUsuario__Img {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.MasOpcionesOff {
  display: none;
}
.MasOpcionesOn {
  background-color: none;
}
