.PubliTitulo__SubTitle {
  color: #444343;
  font-weight: 600;
  font-size: 0.9em;
  font-family:
    Segoe UI Historic,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  margin-top: 0.5em;
}
